@import "_settings";
@import "node_modules/angular-base-apps/scss/base";

span.label {
  margin-right: 0.5rem;
}

img.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;

  @include breakpoint(medium) {
    width: 200px;
    height: 200px;
  }
}

textarea.profile-resume {
  min-height: 200px;

  @include breakpoint(medium) {
    min-height: 300px;
  }
}
